useDynLib(spef, .registration = TRUE)

importFrom("graphics", "abline", "plot", "points", "title")
importFrom("methods", "getClass", "new")
importFrom("stats", "as.formula", "model.matrix", "optim", "pchisq",
           "printCoefmat", "quantile", "rbinom", "rexp", "rgamma",
           "rmultinom", "rnorm", "rpois", "runif", "sd", "stepfun",
           "time", "uniroot", "var")
importFrom("utils", "head", "tail")
importFrom("graphics", "boxplot")
importFrom("stats", "approx")
importFrom("survival", coxph, survfit, Surv, cluster)
importFrom("nleqslv", nleqslv)
importFrom("plyr", ddply, count)
importFrom("ggplot2", ggplot, geom_tile, aes, aes_string,
           theme_bw, scale_fill_gradient)
importFrom("splines", bs)
importFrom("BB", dfsane, BBoptim)
importFrom("SQUAREM", squarem)
importFrom("sm", sm.regression)
importFrom("stats", "aggregate")

export(PanelSurv, is.PanelSurv)
export(panelReg)

S3method(plot, PanelSurv)
S3method(print, panelReg)
S3method(coef, panelReg)
S3method(vcov, panelReg)
S3method(plot, panelReg)
S3method(plot, isplineFun)
